In [144]:
#instalación de librerías

#!pip install pandas
#!pip install scikit-learn

In [145]:
#Correr las librerías
import pandas as pd 
from sklearn.impute import KNNImputer

In [146]:
#Importar archivos 
aplicaciones = pd.read_csv('Aplicaciones.csv')

In [147]:
#EDA 
aplicaciones.info()
print() 
print("Se observan títulos erróneos, inconsistencia en cantidad de datos y tipo de datos. Se necesita limpieza.")
print() 

display(aplicaciones.head())

<class 'pandas.DataFrame'>
RangeIndex: 412 entries, 0 to 411
Data columns (total 11 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Aplicación                  412 non-null    int64
 1   Empresa                     173 non-null    str
 2   Plataforma                  175 non-null    str
 3   Fecha                       94 non-null     str
 4   Descripción de experiencia  25 non-null     str
 5   Resultado al momento        54 non-null     str
 6   url                         158 non-null    str
 7   Bolsas de presencia:        166 non-null    str
 8   Detalles                    35 non-null     str
 9   Unnamed: 9                  2 non-null      str
 10  Junta ARC                   141 non-null    float64
dtypes: float64(1), int64(1), str(9)
memory usage: 35.5 KB

Se observan títulos erróneos, inconsistencia en cantidad de datos y tipo de datos. Se necesita limpieza.

,Aplicación,Empresa,Plataforma,Fecha,Descripción de experiencia,Resultado al momento,url,Bolsas de presencia:,Detalles,Unnamed: 9,Junta ARC
0,1,Idis,linked in referido ARC,NaN,NaN,aplique,NaN,NaN,NaN,NaN,1.0
1,2,Amaris,linked in referido ARC,NaN,NaN,Decidieron no continar se quedaron los datos,NaN,NaN,NaN,NaN,1.0
2,3,Smilepill,linked in referido ARC,NaN,NaN,aplique,NaN,NaN,NaN,NaN,1.0
3,4,Adam Milo,linked in referido ARC,NaN,NaN,aplique,NaN,NaN,NaN,NaN,1.0
4,5,Incode,linked in data search - greenhouse,NaN,NaN,Apliqué,https://job-boards.greenhouse.io/incode/jobs/5...,greenhouse,Rol en inglés. Cover letter.,NaN,2.0

In [148]:
#Cambio de plataforma por posición 
aplicaciones.rename(columns={'Plataforma': 'Posicion'}, inplace=True)
print(aplicaciones.columns)
print("Título de columna cambiado de 'Plataforma' a 'Posicion'.")

#Soltar valores donde no haya posicion 
aplicaciones = aplicaciones.dropna(subset=['Posicion'])
aplicaciones.info()

#Remover columna 9, sin valor 
aplicaciones = aplicaciones.drop(columns=['Unnamed: 9'])

print(aplicaciones.columns,  '\n Columna sin valores y no nombrada eliminada.')

Index(['Aplicación', 'Empresa', 'Posicion', 'Fecha',
       'Descripción de experiencia', 'Resultado al momento', 'url',
       'Bolsas de presencia: ', 'Detalles', 'Unnamed: 9', 'Junta ARC'],
      dtype='str')
Título de columna cambiado de 'Plataforma' a 'Posicion'.
<class 'pandas.DataFrame'>
Index: 175 entries, 0 to 177
Data columns (total 11 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Aplicación                  175 non-null    int64
 1   Empresa                     171 non-null    str
 2   Posicion                    175 non-null    str
 3   Fecha                       94 non-null     str
 4   Descripción de experiencia  25 non-null     str
 5   Resultado al momento        52 non-null     str
 6   url                         156 non-null    str
 7   Bolsas de presencia:        164 non-null    str
 8   Detalles                    35 non-null     str
 9   Unnamed: 9                  2 non-null      str
 10  Junta ARC                   138 non-null    float64
dtypes: float64(1), int64(1), str(9)
memory usage: 16.4 KB
Index(['Aplicación', 'Empresa', 'Posicion', 'Fecha',
       'Descripción de experiencia', 'Resultado al momento', 'url',
       'Bolsas de presencia: ', 'Detalles', 'Junta ARC'],
      dtype='str')
 Columna sin valores y no nombrada eliminada.

In [149]:
#Se ocupan cambiar el número de junta de float a int64. 
#Limpieza y homogenización de datos. 
display(aplicaciones)
print("Puedo rellenar los NAN en junta pendientes conforme a contexto.")
aplicaciones['Junta ARC'] = aplicaciones['Junta ARC'].fillna(5)
print('Cantidad de Nan en Junta ARC:', aplicaciones['Junta ARC'].isnull().sum()) #Corroborar que no haya NAN

#Cambiar tipo de dato de float a int64
aplicaciones['Junta ARC'] = aplicaciones['Junta ARC'].astype('int64')

#Rellenar nulos en bolsas de presencia con post de linkedin o referido
aplicaciones['Bolsas de presencia: '] = aplicaciones['Bolsas de presencia: '].fillna('LinkedIn / Referido')
#Renombrar columna bolsas de presencia a canal
aplicaciones.rename(columns={'Bolsas de presencia: ': 'Canal'}, inplace=True)

,Aplicación,Empresa,Posicion,Fecha,Descripción de experiencia,Resultado al momento,url,Bolsas de presencia:,Detalles,Junta ARC
0,1,Idis,linked in referido ARC,NaN,NaN,aplique,NaN,NaN,NaN,1.0
1,2,Amaris,linked in referido ARC,NaN,NaN,Decidieron no continar se quedaron los datos,NaN,NaN,NaN,1.0
2,3,Smilepill,linked in referido ARC,NaN,NaN,aplique,NaN,NaN,NaN,1.0
3,4,Adam Milo,linked in referido ARC,NaN,NaN,aplique,NaN,NaN,NaN,1.0
4,5,Incode,linked in data search - greenhouse,NaN,NaN,Apliqué,https://job-boards.greenhouse.io/incode/jobs/5...,greenhouse,Rol en inglés. Cover letter.,2.0
...,...,...,...,...,...,...,...,...,...,...
173,174,Dematic,Supplier Data Analyst,20/1/26,NaN,NaN,https://www.linkedin.com/jobs/view/4312877556/...,linkedin,NaN,NaN
174,175,Benavides,Analista de Mercados,22/1/26,karla.villarreal@benavides.com.mx,NaN,NaN,linkedinpost,NaN,NaN
175,176,Thermofisher,Database Analyst,23/1/26,NaN,NaN,https://jobs.thermofisher.com/global/en/job/R-...,thermofisher site; email,NaN,NaN
176,177,Corning,Data Scientist,23/1/26,NaN,NaN,https://mx.indeed.com/rc/clk?jk=290262b9a0fb75...,indeed,NaN,NaN
177,178,Banorte,Especialista de Datos estrategia Jr,23/1/26,NaN,NaN,https://mx.indeed.com/rc/clk?jk=9c6e32e475fe28...,indeed,NaN,NaN

Puedo rellenar los NAN en junta pendientes conforme a contexto.
Cantidad de Nan en Junta ARC: 0

In [150]:
#Corroborar que no haya NAN
print('Cantidad de Nan en Canal:', aplicaciones['Canal'].isnull().sum())

display(aplicaciones)

#Convertir fecha en datetime 
aplicaciones['Fecha'] = pd.to_datetime(aplicaciones['Fecha'], format='%d/%m/%y', errors='coerce')
display(aplicaciones)

Cantidad de Nan en Canal: 0

,Aplicación,Empresa,Posicion,Fecha,Descripción de experiencia,Resultado al momento,url,Canal,Detalles,Junta ARC
0,1,Idis,linked in referido ARC,NaN,NaN,aplique,NaN,LinkedIn / Referido,NaN,1
1,2,Amaris,linked in referido ARC,NaN,NaN,Decidieron no continar se quedaron los datos,NaN,LinkedIn / Referido,NaN,1
2,3,Smilepill,linked in referido ARC,NaN,NaN,aplique,NaN,LinkedIn / Referido,NaN,1
3,4,Adam Milo,linked in referido ARC,NaN,NaN,aplique,NaN,LinkedIn / Referido,NaN,1
4,5,Incode,linked in data search - greenhouse,NaN,NaN,Apliqué,https://job-boards.greenhouse.io/incode/jobs/5...,greenhouse,Rol en inglés. Cover letter.,2
...,...,...,...,...,...,...,...,...,...,...
173,174,Dematic,Supplier Data Analyst,20/1/26,NaN,NaN,https://www.linkedin.com/jobs/view/4312877556/...,linkedin,NaN,5
174,175,Benavides,Analista de Mercados,22/1/26,karla.villarreal@benavides.com.mx,NaN,NaN,linkedinpost,NaN,5
175,176,Thermofisher,Database Analyst,23/1/26,NaN,NaN,https://jobs.thermofisher.com/global/en/job/R-...,thermofisher site; email,NaN,5
176,177,Corning,Data Scientist,23/1/26,NaN,NaN,https://mx.indeed.com/rc/clk?jk=290262b9a0fb75...,indeed,NaN,5
177,178,Banorte,Especialista de Datos estrategia Jr,23/1/26,NaN,NaN,https://mx.indeed.com/rc/clk?jk=9c6e32e475fe28...,indeed,NaN,5

,Aplicación,Empresa,Posicion,Fecha,Descripción de experiencia,Resultado al momento,url,Canal,Detalles,Junta ARC
0,1,Idis,linked in referido ARC,NaT,NaN,aplique,NaN,LinkedIn / Referido,NaN,1
1,2,Amaris,linked in referido ARC,NaT,NaN,Decidieron no continar se quedaron los datos,NaN,LinkedIn / Referido,NaN,1
2,3,Smilepill,linked in referido ARC,NaT,NaN,aplique,NaN,LinkedIn / Referido,NaN,1
3,4,Adam Milo,linked in referido ARC,NaT,NaN,aplique,NaN,LinkedIn / Referido,NaN,1
4,5,Incode,linked in data search - greenhouse,NaT,NaN,Apliqué,https://job-boards.greenhouse.io/incode/jobs/5...,greenhouse,Rol en inglés. Cover letter.,2
...,...,...,...,...,...,...,...,...,...,...
173,174,Dematic,Supplier Data Analyst,2026-01-20,NaN,NaN,https://www.linkedin.com/jobs/view/4312877556/...,linkedin,NaN,5
174,175,Benavides,Analista de Mercados,2026-01-22,karla.villarreal@benavides.com.mx,NaN,NaN,linkedinpost,NaN,5
175,176,Thermofisher,Database Analyst,2026-01-23,NaN,NaN,https://jobs.thermofisher.com/global/en/job/R-...,thermofisher site; email,NaN,5
176,177,Corning,Data Scientist,2026-01-23,NaN,NaN,https://mx.indeed.com/rc/clk?jk=290262b9a0fb75...,indeed,NaN,5
177,178,Banorte,Especialista de Datos estrategia Jr,2026-01-23,NaN,NaN,https://mx.indeed.com/rc/clk?jk=9c6e32e475fe28...,indeed,NaN,5

In [156]:
#Rango de fechas 
aplicaciones['Fecha'].unique()
#Rellenar con fecha mínima
aplicaciones['Fecha'] = aplicaciones['Fecha'].fillna(pd.to_datetime('2025-12-05'))
print("Fechas nulas rellenadas con fecha mínima. Para análisis temporal")

Fechas nulas rellenadas con fecha mínima. Para análisis temporal

In [152]:
#Reemplazar Descripción de experiencia por contacto. 

#Almacenar

Objetivo de Análisis

1. Identificar cantidad de aplicaciones 
2. Cuantas por cada canal 
3. Cuántas han avanzado
4. Almacenar los contactos
5. Identificar las empresas a las que se han aplicado.

In [ ]:
# Cantidad de aplicaciones 
print("Cantidad de aplicaciones:", aplicaciones.shape[0])
#

Cantidad de aplicaciones: 175

In [ ]:
#Cuantas por cada canal 
print(aplicaciones['Canal'].value_counts())

#Renombrar valores equivalentes en canal

Canal
linkedin                                      27
occ                                           27
glassdoor                                     21
indeed                                        13
LinkedIn / Referido                           11
ct                                             8
indeed                                         7
Linkedin                                       5
linkedin                                       5
sitio de la empresa                            5
greenhouse                                     3
Indeed                                         3
CT                                             3
torre/sitio de la empresa                      3
Computrabajo                                   2
linked in                                      2
Glassdoor                                      2
linked in                                      2
computrabajo                                   2
OCC                                            2
braintrust                                     2
linked in message                              1
Glassdoor                                      1
Remote                                         1
remote                                         1
linkedin; Daniela Mejía                        1
linkedin; Gibran Jair                          1
ct                                             1
torre ai                                       1
Linkedin                                       1
joinrs, aplicación en el siito de pfizer.      1
linkedin - outlier                             1
linkedin-mindrift                              1
glassdoor-sitio de la empresa                  1
braintrust-freelance                           1
torre AI                                       1
hireline                                       1
femsa; sitio de la empresa                     1
femsa                                          1
linkedinpost                                   1
thermofisher site; email                       1
Name: count, dtype: int64

In [ ]:
#Procesos de elección que han avanzado

#Que tipo de puestos.

In [ ]:
#Almacenar los contactos

In [ ]:
#Cuantas empresas distintas

In [ ]:
#Exportar datos para hacer el dashboard